etc/seatml.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="seatml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="general"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="state"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="general">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="adaptor"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="var"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="onexec"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="onactivated"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="ondeactivated"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="ontimeout"/>
        </xs:choice>
      <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="adaptor">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attribute name="datatype" use="optional" type="xs:string"/>
      <xs:attribute name="host" use="optional" type="xs:string"/>
      <xs:attribute name="port" use="optional" type="xs:string"/>
      <xs:attribute name="dir" use="optional" type="xs:string"/>
      <xs:attribute name="interface" use="optional" type="xs:string"/>
      <xs:attribute name="if_class" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="var">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="value" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="onexec">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
        </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="onactivated">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ondeactivated">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ontimeout">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="timeout" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="onentry"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="onexit"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="onexec"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ondeactivated"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ontimeout"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="rule"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="label"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="button"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="input"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="text"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="brk"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="space"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="button">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="label" use="required" type="xs:string"/>
      <xs:attribute name="color" use="optional" type="xs:string"/>
      <xs:attribute name="bg_color" use="optional" type="xs:string"/>
      <xs:attribute name="colspan" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="input">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="width" use="optional" type="xs:string"/>
      <xs:attribute name="colspan" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="width" use="optional" type="xs:string"/>
      <xs:attribute name="height" use="optional" type="xs:string"/>
      <xs:attribute name="colspan" use="optional" type="xs:string"/>
      <xs:attribute name="rowspan" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="label">
    <xs:complexType>
      <xs:attribute name="text" use="required" type="xs:string"/>
      <xs:attribute name="color" use="optional" type="xs:string"/>
      <xs:attribute name="bg_color" use="optional" type="xs:string"/>
      <xs:attribute name="colspan" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="brk">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="comment" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="space">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="length" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="rule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="cond"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="key"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="statetransition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="source" use="optional" type="xs:string"/>
      <xs:attribute name="file" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="key">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="source" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="cond">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="execfile" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="onentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="cond"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="onexit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="cond"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="message"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="shell"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="log"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="message">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="sendto" use="required" type="xs:string"/>
          <xs:attribute name="encode" use="optional" type="xs:string"/>
          <xs:attribute name="input" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="shell">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="sendto" use="optional" type="xs:string"/>
          <xs:attribute name="host" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="script">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="execfile" use="optional" type="xs:string"/>
          <xs:attribute name="sendto" use="optional" type="xs:string"/>
          <xs:attribute name="host" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="statetransition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="func" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="log">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
